<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
</head>
<body style="height: 100vh">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2" style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
            <div style="background-color: whitesmoke; box-shadow: 0 5px 5px gray; padding: 2em;">
                <h2 class="text-center">Вход в систему</h2>
                <hr>
                <form>
                    <div class="form-group">
                        <label for="email">Адрес электронной почты</label>
                        <input class="form-control" type="email" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль</label>
                        <input class="form-control" type="password" id="password" name="password">
                    </div>
                    <hr>
                    <div class="form-group">
                        <input style="width: 100%" type="submit" value="Вход" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-3" style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
            <p>Нет аккаунта? <span><a href="/registration">Регистрация</a></span></p>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>